body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #724caf;
}

.navbar .search-container {
  float: right;
  display:flex;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border:none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:rgb(64, 124, 109);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: rgb(78, 26, 26);
}
@media screen and (max-width: 685px) {
  .navbar .search-container{
    float: none;
    display:none;
  }
  .navbar a {
    float: none;
    display: block;
  }
}

.leftSidebar {
  float:left;
  width:20%;
  background-color: #808080;
  padding: 2px;
  color:#fff;
  margin: 10px 20px;
} 
.rightSidebar {
  float:right;
  width:20%;
  background-color: #808080;
  padding: 2px;
  color:#fff;
  margin: 10px 20px;
  margin-bottom: 10px;
}
.Sidebar {
  text-align: justify;
  padding: 0 5px 0 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
}